extends layout

block content
  h1= title
  p Enter a URL of an article you'd like to share and a quote from that article.

  form(name='get-link-form')
    label(for='url') Path to article
    input(type='url', id='url' name='url')
    label(for='quote') Quote from article
    textarea(id='quote' name='quote')
    input(type='button', value='Get URL', onclick='getLink()')

  h2 Chrome Extension
  a(href='/chrome/highlighter.zip') Download the chrome extension here

  h2 Known Bugs
  ul
    li Does not work a highlight that contains formatted text or links in it
    li Does not work with dynamic pages that need to make ajax calls
    li Does not work with stack overflow (policy against iframes)
